.main{
    display:  flex;
    flex-direction: column;
    width: 600px;
    margin: 0 auto;
    margin-top: 20px;
    background-color: whitesmoke;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 20px;
}

body{
    background-color: bisque;
}

.titulo{
    text-align: center;
    color: orange;
}